.card-filmes{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    max-width: 220px;
    border-radius: 10px;
    font-family: 'Roboto' , sans-serif;
    margin: 49px;
    margin-top: 60px;

    
}

.poster-image{
    background-image: url ("https://image.tmdb.org/t/p/w1280/");
    border-radius: 10px 10px 0 0;
    background-size: 220px;
    background-position-y: -15px;
    background-repeat: no-repeat;
    padding: 100px;
    padding-bottom: 170px;
}

 .fav-btn{
    position: absolute;
    padding: 10px;
    text-shadow: 1px 1px 10px #000000;
    
 }

 .btn-detail{
     background-color: var(--destaque-color);
     color: #ffffff;
     opacity: .9;
     border-radius: 10px;
     display: flex;
     margin: 2px;
     justify-content: center;
     padding: 5px;
     align-items: center;
     text-decoration: none;
     
     
 }

 .especificacao{
    text-align: center;
    padding: 12px;
  
 }

 .especificacao h4{
     opacity: .9;
     margin: 2px;
     
 }

     
 .especificacao span{
     color: var(--estrela-color);
     margin-top: 10px;


 }

 