
.Header{
  display: flex;
  padding: 15px 45px;
  justify-content: space-between;
  background-color: black;
  overflow:hiddena;
}

.Logo{
  background: #33B4FF;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  width: 210px;
  
}

.field-search{
  border-radius: 10px;
  border: 10;
  width: 400px;
  height: 2.5rem;
  margin: 0 10px;
  font-family: 'Roboto';
  font-size: 15px;
  background-color: #B86D56;
  position: relative;
}

.Header input{
  border: none;
  width: 20rem;
  font-family: 'Roboto';
  font-size: 15px;
  height: 100%;
  background-color: transparent;
  outline: none;
}

.pesquisa {
  position: absolute;
  color: black;
  right: 10px;
  top: .5rem;
}

.hr {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  top: 70px;
  border: 1px solid #FF4414;
  transform: rotate(0.04deg);
}
