@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  background-color: #2C1C13;
  min-height: 100vh;
  text-align: center;

 --background-item-color: ;
 --destaque-color: #FF4414;
 --primary-color: #33B4FF;
 --estrela-color: #fff12f;

}

.content{
  display: flex;
}

.nav-formatacao{
  display: flex;
  justify-content: space-between;
 
}

.nav-link{
  background-color: var(--destaque-color);
  color: #000000;
  border-radius: 10px;
  display: inline-block;
  margin-left: 1px;
  margin-top: 25px;
  width: 200px;
  padding: 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  opacity: .4;
  
}


.nav-link.active {
  opacity: 1;
}