@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  background-color: #2C1C13;
  min-height: 100vh;
  text-align: center;

 --background-item-color: ;
 --destaque-color: #FF4414;
 --primary-color: #33B4FF;
 --estrela-color: #fff12f;

}

.content{
  display: flex;
  flex-wrap: wrap;
}

.nav-formatacao{
 
 
}

.nav-link1{
  background-color: var(--destaque-color);
  color: #000000;
  border-radius: 10px;
  margin-top: 25px;
  width: 150px;
  padding: 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  opacity: .4;
  
}

.nav-link2{
  background-color: var(--destaque-color);
  color: #000000;
  border-radius: 10px 0 0 10px;
  margin-top: 25px;
  width: 150px;
  padding: 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  opacity: .4;
  
}

.nav-link3{
  background-color: var(--destaque-color);
  color: #000000;
  margin-top: 25px;
  width: 150px;
  padding: 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  opacity: .4;
  
}

.nav-link4{
  background-color: var(--destaque-color);
  color: #000000;
  margin-top: 25px;
  width: 150px;
  padding: 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  opacity: .4;
  
}

.nav-link5{
  background-color: var(--destaque-color);
  color: #000000;
  margin-top: 25px;
  width: 150px;
  padding: 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  opacity: .4;
  
}

.nav-link6{
  background-color: var(--destaque-color);
  color: #000000;
  border-radius: 0 10px 10px 0;
  margin-top: 25px;
  width: 150px;
  padding: 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  opacity: .4;
  
}


.nav-link1.active {
  opacity: 1;
}

.nav-link2.active {
  opacity: 1;
}

.nav-link3.active {
  opacity: 1;
}

.nav-link4.active {
  opacity: 1;
}

.nav-link5.active {
  opacity: 1;
}

.nav-link6.active {
  opacity: 1;
}