  .Botons{
    display: flex;
    justify-content: space-between;
  }  
    
  .btn-Favoritos{
    background-color: var(--destaque-color);
    color: #000000;
    border-radius: 10px;
    display: flex;
    margin-left: 45px;
    margin-top: 25px;
    width: 200px;
    justify-content: center;
    padding: 6px;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;    
  }

  .btn-Favoritos1{
    background-color: var(--destaque-color);
    color: #000000;
    border-radius: 10px 0 0 10px;
    display: flex;
    margin-left: 245px;
    margin-top: 25px;
    width: 130px;
    justify-content: center;
    padding: 6px;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;   
  }

  .btn-Favoritos2{
    background-color: var(--destaque-color);
    color: #000000;
    display: flex;
    margin-top: 25px;
    width: 130px;
    justify-content: center;
    padding: 6px;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;    
  }

  .btn-Favoritos3{
    background-color: var(--destaque-color);
    color: #000000;
    display: flex;
    margin-top: 25px;
    width: 130px;
    justify-content: center;
    padding: 6px;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;    
  }

  .btn-Favoritos4{
    background-color: var(--destaque-color);
    color: #000000;
    display: flex;
    margin-top: 25px;
    width: 130px;
    justify-content: center;
    padding: 6px;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;    
  }

  .btn-Favoritos5{
    background-color: var(--destaque-color);
    color: #000000;
    border-radius: 0 10px 10px 0;
    display: flex;
    margin-top: 25px;
    width: 130px;
    justify-content: center;
    padding: 6px;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;    
  }

  .hr2{
    position: absolute;
    width: 43px;
    height: 0px;
    left: 614px;
    top: 115px;

    border: 1px solid #000000;
    transform: rotate(90deg);
  }

  .hr3{
    position: absolute;
    width: 43px;
    height: 0px;
    left: 763px;
    top: 115px;
    
    border: 1px solid #000000;
    transform: rotate(90deg);  
  }

  .hr4{
    position: absolute;
    width: 43px;
    height: 0px;
    left: 899px;
    top: 115px;

    border: 1px solid #000000;
    transform: rotate(90deg);
  }

  .hr5{
    position: absolute;
    width: 43px;
    height: 0px;
    left: 1050px;
    top: 115px;

    border: 1px solid #000000;
    transform: rotate(90deg);
  }